
.PaginateContainer {
  padding-left: 0;
  display: flex;
  align-items: center;
  height: 36px;
  padding: 20px 24px;
  margin: 20px 16px;
  justify-content: center;
}

.PaginatePage {
  min-width: 20px;
  font-size: 14px;
  height: 20px;
  margin: 0 5px;
  color: rgba(255, 255, 255, 0.5);
}

.PaginatePage:hover {
  cursor: pointer;
  color: #fff;
}

.PaginatePageLink {
  font-family: Roboto;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.PaginatePreviousLink {
  display: flex;
  min-width: 20px;
  justify-content: center;
}

.PaginatePreviousLink:hover {
  cursor: pointer;
}

.PaginateNextLink {
  display: flex;
  min-width: 20px;
  justify-content: center;
}

.PaginateNextLink:hover {
  cursor: pointer;
}

.PaginateActive {
  color: #fff;
}

.PaginateBreak {
  display: inline-flex;
}
