@import '../../styles/mixins/_all.scss';

.modalAlert {
  @include center-fixed;
  z-index: -1;
  opacity: 0;
  width: 500px;
  padding: 24px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s ease-in-out;

  &.is-visible {
    z-index: 3000;
    opacity: 1;
  }
}

.modalAlert-mask {
  @include center-fixed;
  content: ' ';
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s ease-in-out;
  opacity: 0;

  &.is-visible {
    width: 100vw;
    height: 100vh;
    z-index: 2999;
    opacity: 1;
  }
}

.modalAlert-message {
  font-size: 18px;
}

.modalAlert-btns {
  @include clearfix;
  margin-top: 20px;

  & > * {
    float: right;
    margin-left: 10px;
  }
}
