@mixin selectedDotIndicator($size, $color) {
  position: relative;

  &::before {
    @include centerX();
    bottom: 3px;
    content: ' ';
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: $color;
  }
}
