@import './center.scss';

// flex를 사용하지 않고 버튼 텍스트를 가운데 정렬하기.
// 버튼 안의 span 태그를 absolute 포지션으로 만들어서 정렬한다.
@mixin buttonCentered {
  position: relative;

  & > span {
    display: inline-block;
    @include center;
  }
}

@mixin buttoncenterX {
  position: relative;

  & > span {
    display: inline-block;
    @include centerX;
  }
}

@mixin buttoncenterY {
  position: relative;

  & > span {
    display: inline-block;
    @include centerY;
  }
}
