@import './center.scss';

// 엘레멘트 우측에 여백을 추가하고 여백 중간에 수직선을 추가한다.
@mixin withDivider($height, $distance, $color: #ccc) {
  position: relative;
  margin-right: calc(#{$distance} * 2);

  &:after {
    @include centerY;
    content: ' ';
    width: 1px;
    height: $height;
    background: $color;
    right: calc(-1 * #{$distance});
  }
}
