// 엘레멘트 padding-right 영역에 middot을 그린다
@mixin middot($width: 12px, $dotSize: 2px, $color: #7c7c7c) {
  position: relative;
  padding-right: $width;

  &::after {
    display: block;
    @include centeredY;
    content: ' ';
    right: calc(#{$width} / 2);
    background: $color;
    width: $dotSize;
    height: $dotSize;
    border-radius: 50%;
  }
}
